/* Imports custom font for logo and tagline */
@font-face {
    font-family: spaceFont;
    src: url(assets/fonts/nasalization-rg.ttf);
}

#logo {
    font-family: spaceFont;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    text-align: left;
}

#tagline {
    font-family: spaceFont;
    margin-top: 0;
    text-align: left;
}

body {
    text-align: center;
}
