/* Imports custom font for logo and tagline */
@font-face {
    font-family: spaceFont;
    src: url(assets/fonts/nasalization-rg.ttf);
}

body {
    background-image: url(./assets/web/background3.jpg);
    background-position: bottom 10px;
    background-size: cover;
    background-color: black;
    background-repeat: no-repeat;
}

#logo {
    font-family: spaceFont;
    color: white;
    font-size: 70px;
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 9px;
    text-align: left;    
}

#tagline {
    font-family: spaceFont;
    color: white;
    margin-top: 0;
    margin-left: 10px;
    text-align: left;
}

.top {
    height: auto;
    width: auto;
    padding-left: 10px;
    background-image: linear-gradient(to top left, black, black, #251c2e, #421d5f, #4d1e63, #361f41, #251c2e, magenta,yellow);
    border-style: solid;
    border-color: #8c8b8a;
    border-radius: 23px;
    box-shadow: #0F2027 8px 12px 6px;

}

.jscan {
    margin: -3%;
}

footer {
    background-image: linear-gradient(to bottom left, black, #0F2027, #203A43, #2C5364);
}

.footer {
    font-family: spaceFont;
    padding-top: 5px;
    position: fixed;
    left: 0;
    bottom: 0;
    height: 4%;
    width: 98.9%;
    background-image: linear-gradient(to top left, black, black, #251c2e, #421d5f, #4d1e63, #361f41, #251c2e, black);
    color: white;
    text-align: center;
    border-style: solid;
    border-color: #8c8b8a;
    border-radius: 5px;
    padding-left: 15px;
}

.src {
    position: relative;
    left: 500px;
}

table {
    color: white;
    position: relative;
}

#container {
    position: center;
    position: absolute;
}
#canvas-container {
    position: relative;
    border: 1px solid yellow;
}
canvas {
    position: fixed;
    border: 1px solid green;
    margin-left: 11%;
}